*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 24%, rgba(8,21,129,1) 51%, rgba(5,90,174,1) 81%, rgba(0,212,255,1) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem 0;
}


.hat{
    width: 250px;
}
.ps{
    text-align: center;
    width: 300px;
}